.controller-arrows-vertical-1ab {
    display: flex;
    flex-direction: row;

    .col {
        display: flex;
        flex-direction: column;

        button {
            border: none;
    
            width: 50vw;
            height: 50vh;
    
            background-color: $ctrl-background-color;
            color: $ctrl-active;
            font-size: $ctrl-label-size;
            font-weight: 1000;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            &:active {
                background-color: $ctrl-active;
                color: $ctrl-background-color;
            }
        }
    }   
}

#divider {
    position: absolute;
    width: $ctrl-divider-length;
    height: 1px;
    top: 50%;
    left: calc((100% - $ctrl-divider-length) / 2);

    background-color: $ctrl-active;

    justify-self: center;
}

.fullscreen-btn {
    color: $ctrl-fullscreen-btn-color;
    background-color: $ctrl-fullscreen-btn-background-color;
    font-size: $ctrl-fullscreen-btn-size;
    
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:fullscreen .fullscreen-btn {
    visibility: hidden !important;
}