.controller-arrows-vertical-1ab {
    display: flex;
    flex-direction: row;

    .col {
        display: flex;
        flex-direction: column;

        button {
            width: 50vw;
            height: 50vh;
        }
    }   
}
