.controller-arrows-horizontal {
    display: flex;
    flex-direction: row;
    
    button {
        border: none;
    
        width: 50vw;
        height: 100vh;
    
        background-color: $ctrl-background-color;
        color: $ctrl-active;
        font-size: $ctrl-label-size;
        font-weight: 1000;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        &:active {
            background-color: $ctrl-active;
            color: $ctrl-background-color;
        }
    }
}

#divider {
    position: absolute;
    width: 1px;
    height: $ctrl-divider-length;
    top: calc((100% - $ctrl-divider-length) / 2);
    left: 50%;

    background-color: $ctrl-active;

    justify-self: center;
}

.fullscreen-btn {
    color: $ctrl-fullscreen-btn-color;
    background-color: $ctrl-fullscreen-btn-background-color;
    font-size: $ctrl-fullscreen-btn-size;
    
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:fullscreen .fullscreen-btn {
    visibility: hidden !important;
}