// ===================
//  CONFIG
// ===================

// ratio of how much space each button takes (width only)
$button-ratio: 2, 8, 2;

$color-active: #fdfdfd;
$color-background: #000;

$button-arrow-size: 3rem;



// ===================

@function sum-list-elem($list) {
    $result: 0;
    @each $elem in $list {
        $result: $result + $elem;
    }
    @return $result;
}

$_button-ratio-sum: sum-list-elem($button-ratio);



#btn-container {
    display: flex;
    flex-direction: row;
}

// stylesheet for all buttons
@mixin button-style {
    height: 100vh;
    border: none;
    background-color: $color-background;
    color: $color-active;

    font-weight: 1000;

    &:active {
        background-color: $color-active;
        color: $color-background;
    }
}

// stylesheet for all dividers
@mixin divider-style {
    position: absolute;
    background-color: #fff;
    top: 5vh;
    width: 1px;
    height: 90vh;
}

// set up the layout
$_divider-offset: 0;
@for $index from 1 through length($button-ratio) {
    $ratio: nth($button-ratio, $index);
    $offset: 100vw * ( $ratio / $_button-ratio-sum );
    $_divider-offset: $_divider-offset + $offset;

    .button-#{$index} {
        @include button-style;
        width: $offset;
        font-size: 1rem + 6rem * ( $ratio / $_button-ratio-sum );
    }

    .divider-#{$index} {
        @include divider-style;
        left: $_divider-offset;
    }
}
