.controller-crossarrows {
    button {
        width: 100vw;
        height: 50vh;
    }

    #top-btn {
        position: absolute;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    }

    #left-btn {
        position: absolute;
        height: 100vh;
        clip-path: polygon(0% 0%, 50% 50%, 0% 100%);
    
        justify-content: left;
    
        i {
            margin-left: 200px;
        }
    }
    
    #right-btn {
        position: absolute;
        height: 100vh;
        clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
    
        justify-content: right;
    
        i {
            margin-right: 200px;
        }
    }
    
    #bottom-btn {
        top: 50vh;
        position: absolute;
        clip-path: polygon(100% 100%, 50% 0%, 0% 100%);
    }
}

.fullscreen-btn {
    color: $ctrl-fullscreen-btn-color;
    background-color: $ctrl-fullscreen-btn-background-color;
    font-size: $ctrl-fullscreen-btn-size;
    
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:fullscreen .fullscreen-btn {
    visibility: hidden !important;
}