// ===================
//  CONFIG
// ===================

// background
$color-background: #2194f3;

$background-offset-x: -52px;
$background-offset-y: -30px;

$background-icon-size: 5rem;
$background-icon-opacity: 0.07;

// logo
$logo-margin-top: 3rem;
$logo-color: white;
$logo-size: 2.5rem;

// login form
$form-background-color: aliceblue;

// label
$label-text-color: #00000090;

// input
$input-font-size: 1.4rem;
$input-background-color: #dce3e9;

// button
$button-text-color: #000000c0;
$button-press-duration: 2s;

// form element
$form-element-margin-top: 1.5rem;
$form-element-margin-bottom: 0.5rem;


// =================

// SCREENS
$tablet-breakpoint: 600px;

// phone
@media (min-width:0px)  {
    @import url('phone');
}

// tablet
@media (min-width: $tablet-breakpoint)  {
    @import url('tablet');
}


:root {
    background-color: $color-background;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - $background-offset-x);
    height: calc(100vh - $background-offset-y);
    z-index: -1;
    background: url("../../assets/gamepad.png");
    background-repeat: repeat;
    background-size: $background-icon-size;
    opacity: $background-icon-opacity;
    transform: translateX($background-offset-x) translateY($background-offset-y);
}

#form-container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 90vw;
    height: auto;
    background-color: $form-background-color;
    justify-self: center;
    margin-top: 4rem;
    border-radius: 15px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.2);
}


.form-element {
    display: flex;
    flex-direction: column;
    margin-top: $form-element-margin-top;
    margin-bottom: $form-element-margin-bottom;

    label {
        // text-align: left;
        margin-bottom: 0.2rem;
        color: $label-text-color;
        font-weight: 700;
    }

    input {
        height: 2rem + 1.5rem;
        font-size: $input-font-size;
        font-weight: 700;
        text-align: center;
        border: none;
        background-color: $input-background-color;
    }
}

@keyframes button-press {
    from {
        background-color: $input-background-color;
    } to {
        background-color: $form-background-color;
    }
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

button {
    width: 100%;
    height: 4rem;
    // margin-bottom: 1rem;
    // padding-bottom: 1rem;
    border: none;
    border-radius: 15px;
    background-color: $form-background-color;
    position: relative;

    h1 {
        color: $button-text-color;
        font-size: 2rem;
        font-weight: 700;
        position: absolute;
        top: 1rem;
        text-align: center;
        width: 100%;
    }

    i {
        visibility: hidden;
        position: absolute;
        font-size: 2rem;
        top: 0.5rem;
        font-size: 2rem;
        animation: rotation 2s infinite linear;
        color: white;
    }


    &:active {
        // background-color: gray;
        animation: button-press $button-press-duration linear;
    }
}

.spacer {
    height: .5rem;
}

#logo {
    margin-top: $logo-margin-top;
    color: $logo-color;

    i {
        font-size: $logo-size;
    }

    h1 {
        font-size: $logo-size;
    }
}