// ===================
//  CONFIG
// ===================

// background
$color-background: #2194f3;

$background-offset-x: -52px;
$background-offset-y: -30px;

$background-icon-size: 5rem;
$background-icon-opacity: 0.07;

// logo
$logo-margin-top: 3rem;
$logo-color: white;
$logo-size: 2.5rem;

// login form
$form-background-color: aliceblue;
$form-width: 0.8;

// label
$label-text-color: #00000090;
$label-margin-bottom: 0.2rem;

// input
$input-font-size: 1.4rem;
$input-height: 3rem;
$input-background-color: #dce3e9;

// button
$button-text-color: #000000c0;
$button-press-duration: 2s;
$button-font-size: 2rem;
$button-height: 4rem;

// form element
$form-element-margin-top: 1rem;
$form-element-margin-bottom: 0.5rem;

// shadow for form-background and button
$box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.2);

// =================

// SCREENS
$tablet-breakpoint: 600px;

:root {
    background-color: $color-background;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - $background-offset-x);
    height: calc(100vh - $background-offset-y);
    z-index: -1;
    background: url("../../assets/gamepad.png");
    background-repeat: repeat;
    background-size: $background-icon-size;
    opacity: $background-icon-opacity;
    transform: translateX($background-offset-x) translateY($background-offset-y);
}

#form-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: min($form-width * 100vw, $form-width * $tablet-breakpoint);
    height: auto;
    justify-self: center;
    // margin-top: 4rem;
    
}


.form-element {
    display: flex;
    flex-direction: column;
    margin-top: $form-element-margin-top;
    margin-bottom: $form-element-margin-bottom;

    label {
        margin-bottom: $label-margin-bottom;
        color: $label-text-color;
        font-weight: 700;
    }

    input {
        height: $input-height;
        font-size: $input-font-size;
        font-weight: 700;
        text-align: center;
        border: none;
        background-color: $input-background-color;
    }
}

.form-background {
    width: 100%;
    height: 100%;
    background-color: $form-background-color;
    border-radius: 15px;
    box-shadow: $box-shadow
}

@keyframes button-press {
    from {
        background-color: $input-background-color;
    } to {
        background-color: $form-background-color;
    }
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

button {
    width: min($form-width * 100vw, $form-width * $tablet-breakpoint);
    height: $button-height;

    position: relative;

    border: none;
    border-radius: 15px;

    background-color: $form-background-color;
    font-size: $button-font-size;
    color: $button-text-color;
    font-weight: 700;
    text-align: center;
    box-shadow: $box-shadow;

    &:active {
        animation: button-press $button-press-duration linear;
    }
}

#logo {
    margin-top: $logo-margin-top;
    color: $logo-color;
    font-size: $logo-size;

    display: flex;
    flex-direction: column;
}

.spacer-05 {
    height: .5rem;
}
.spacer-1 {
    height: 1rem;
}
.spacer-2 {
    height: 2rem;
}
.spacer-3 {
    height: 3rem;
}
.spacer-4 {
    height: 4rem;
}
